@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5f0;
  --foreground: #2c1810;
  --primary: #8b7355;
  --primary-hover: #6e5a43;
  --accent: #9b6b4e;
  --accent-hover: #7d563e;
  --error: #a65d57;
  --error-light: #f8e5e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2c1810;
    --foreground: #f5f5f0;
    --primary: #8b7355;
    --primary-hover: #a68e6a;
    --accent: #9b6b4e;
    --accent-hover: #b88263;
    --error: #a65d57;
    --error-light: #3d2220;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}